@charset "utf-8";
body {
	line-height: 140%;
	position: relative;
	background-color: gray;
}
h1 {
	color: orange;
	font-style: oblique;
}
h2 {
	color: orange;
	font-style: oblique;
}
h3{
	color: orange;
	font-style: oblique;
}
p {
	color: black;
}